<div class="card">
    <header>
        header
    </header>

    <nav class="nav">
        nav
    </nav>

    <div>
        <aside>
            aside
        </aside>

        <main>
            main
        </main>
    </div>


    <footer>
        footer
    </footer>
</div>
